<body>
  
<h1>Dominican Republic</h1>
<img src="../assets/Mapa.gif" width= "1200" height="900">

<br>
<app-button2></app-button2>



<ol>
    <li><a href= "https://en.wikipedia.org/wiki/La_Altagracia_ProvinceLa"> Altagracia</a></li>
    <ul> 
        <li>Senator:  Virgilio Cedano Cedano</li>
        <li>Population: 360,874 </li>
        <li>Coast of arms: </li>
      <img src="../assets/Escudo_de_la_Provincia_La_Altagracia.png" width= "200" height="200">
      </ul>
    <li><a href= "https://en.wikipedia.org/wiki/Pedernales_ProvincePedernales">Pedernales</a></li>
    <ul> 
        <li>Senator: Dionis A. Sánchez Carrasco </li>
        <li>Population:35,280</li>
        <li>Coast of arms: </li>
      <img src="../assets/pedernales.png.png">
      </ul>
    <li><a href= "https://en.wikipedia.org/wiki/Independencia">Independencia</a></li>
    <ul>
        <li>Senator:  Valentin Medrano Pérez</li>
        <li>Population: 58,951 </li>
        <li>Coast of arms: </li>
      <img src="../assets/download.jpg">
      </ul>
      
    <li><a href="https://en.wikipedia.org/wiki/Barahona,_Dominican_Republic">Barahona</a></li>
    <ul> 
        <li>Senator: Jose del Castillo Saviñon </li>
        <li>Population: 83 619</li>
        <li>Coast of arms: </li>
      <img src="../assets/Escudo Municipio nuevo.png">
      </ul>
    <li><a href= "https://en.wikipedia.org/wiki/Puerto_Plata,_Dominican_Republic">Puerto Plata</a></li>
    <ul> 
        <li>Senator: Ginnette Bournigal </li>
        <li>Population:333,940</li>
        <li>Coast of arms: </li>
      <img src="../assets/OIP.jpg">
      </ul>
    <li><a href="https://en.wikipedia.org/wiki/Samaná_Province">Samaná</a></li>
    <ul> 
        <li>Senator: Pedro Catrain Bonilla </li>
        <li>Population: 113,036</li>
        <li>Coast of arms: </li>
      <img src="../assets/Samana.jpg">
      </ul>
    <li><a href= "https://en.wikipedia.org/wiki/Monte_Cristi_Province">Monte Cristi</a></li>
    <ul> 
        <li>Senator: Ramón A. Pimentel Gómez</li>
        <li>Population:117,736</li>
        <li>Coast of arms: </li>
      <img src="../assets/Escudo_de_la_Provincia_Monte_Cristi.png">
      </ul>
    <li><a href= "https://en.wikipedia.org/wiki/Distrito_Nacional">Distrito Nacional </a></li>
    <ul>
        <li>Senator:  Faride Virginia Raful Soriano</li>
        <li>Population: 1,049,567</li>
        <li>Coast of arms: </li>
     <img src="../assets/Escudo_Distrito_Nacional.jpg">
      </ul>
      
    <li><a href= "https://en.wikipedia.org/wiki/Hato_Mayor_Province">Hato Mayor</a></li>
    <ul>
  <li>Senator: Cristóbal Venerado Castillo</li>
  <li>Population:  35,999</li>
  <li>Coast of arms: </li>
<img src="../assets/Escudo_del_Municipio_Hato_Mayor_del_Rey.svg.png">
</ul>
    <li><a href= "https://en.wikipedia.org/wiki/Peravia_Province">Peravia</a></li>
    <ul> 
        <li>Senator: Milciades M. Franjul </li>
        <li>Population:198,499</li>
        <li>Coast of arms: </li>
      <img src="../assets/provinciales_peravia_peravia.jpg">
      </ul>
    <li><a href= "https://en.wikipedia.org/wiki/La_Vega,_Dominican_Republic">La Vega</a></li>
    <ul> 
        <li>Senator: Ramón Rogelio Genao Durán</li>
        <li>Population: 412,469 </li>
        <li>Coast of arms: </li>
      <img src="../assets/595-5954568_la-vega-escudo-la-vega-rd-hd-png.png">
      </ul>
      
    <li><a href= "https://en.wikipedia.org/wiki/Mar%C3%ADa_Trinidad_Sánchez_Province">María Trinidad Sánchez</a></li>
    <ul>
        <li>Senator: Alexis Victoria Yeb</li>
        <li>Population: 140,954</li>
        <li>Coast of arms: </li>
      <img src="../assets/provinciales_maria_trinidad_sanchez_escudo_mariatrinidadsanchez-200x277.jpg">
      </ul>
    <li><a href= "https://en.wikipedia.org/wiki/San_Pedro_de_Macor%C3%ADs">San Pedro de Macorís</a></li>
    <ul> 
        <li>Senator:Franklin Peña Villalona </li>
        <li>Population:306,002</li>
        <li>Coast of arms: </li>
      <img src="../assets/do-23spm.gif">
      </ul>
    <li><a href= "https://en.wikipedia.org/wiki/Azua,_Dominican_Republic">Azua</a></li>
    <ul> 
        <li>Senator: LIA Ynocencia Díaz Santana </li>
        <li>Population: 59,139</li>
        <li>Coast of arms: </li>
      <img src="../assets/R.gif">
      </ul>
    <li><a href= "https://en.wikipedia.org/wiki/Dajabón">Dajabón</a></li>
    <ul> 
        <li>Senator:  David Rafael Sosa Cerda </li>
        <li>Population: 25,685 </li>
        <li>Coast of arms: </li>
      <img src="../assets/R.png">
      </ul>
    <li><a href= "https://en.wikipedia.org/wiki/Duarte_Province">Duarte</a></li>
      <ul> 
          <li>Senator: Franklin Martín Romero Morillo</li>
          <li>Population: 299,583</li>
          <li>Coast of arms: </li>
        <img src="../assets/Escudo_de_la_Provincia_Duarte.png">
        </ul>
    <li><a href= "https://en.wikipedia.org/wiki/El%C3%ADas_Piña_Province">Elías Piña</a></li>
    <ul> 
        <li>Senator: Aris Yván Lorenzo Suero </li>
        <li>Population: 108,033  </li>
        <li>Coast of arms: </li>
      <img src="../assets/Escudo_de_la_Provincia_Elías_Piña.svg.png">
      </ul>
      
    <li><a href= "https://en.wikipedia.org/wiki/El_Seibo,_Dominican_Republic">El Seibo</a></li>
<ul> 
    <li>Senator: Santiago Jose Zorrilla </li>
    <li>Population: 108,033  </li>
    <li>Coast of arms: </li>
  <img src="../assets/Escudo_de_la_Provincia_El_Seibo.svg.png">
  </ul>
    <li><a href= "https://en.wikipedia.org/wiki/Espaillat_Province">Espaillat</a></li>
    <ul> 
        <li>Senator:Carlos Manuel Gómez Ureña </li>
        <li>Population: 173,442</li>
        <li>Coast of arms: </li>
      <img src="../assets/Escudo_de_la_Provincia_Espaillat.png">
      </ul>
    <li><a href= "https://es.wikipedia.org/wiki/Provincia_de_Hermanas_Mirabal">Hermanas Mirabal</a></li>
      <ul> 
          <li>Senator:  Bautista Antonio Rojas Gómez</li>
          <li>Population:  92,045 </li>
          <li>Coast of arms: </li>
        <img src="../assets/provinciales_salcedo_escudo_salcedo1-200x219.jpg">
        </ul>
    <li><a href= "https://en.wikipedia.org/wiki/La_Romana,_Dominican_Republic">La Romana</a></li>
    <ul> 
        <li>Senator: Iván José Silva Fernández</li>
        <li>Population: 274,894 </li>
        <li>Coast of arms: </li>
      <img src="../assets/Escudo_de_la_Provincia_La_Romana.svg.png">
      </ul>
    <li><a href= "https://en.wikipedia.org/wiki/Monse%C3%B1or_Nouel_Province">Monseñor Noue</a></li>
    <ul> 
        <li>Senator: Hector E. Acosta</li>
        <li>Population:174,959 </li>
        <li>Coast of arms: </li>
      <img src="../assets/Escudo_de_la_Provincia_Monseñor_Nouel.png">
      </ul>
    <li><a href= "https://en.wikipedia.org/wiki/Monte_Plata">Monte Plata</a></li>
    <ul> 
        <li>Senator:  Lenin Valdez López</li>/a
        <li>Population:191,447</li>
        <li>Coast of arms: </li>
      <img src="../assets/90px-Escudo_de_la_Provincia_Monte_Plata.png">
      </ul>
    <li><a href= "https://en.wikipedia.org/wiki/San_Crist%C3%B3bal"></a>San Cristóbal></li>
    <ul> 
        <li>Senator:Franklin Alberto Rodríguez </li>
        <li>Population:643,595</li>
        <li>Coast of arms: </li>
      <img src="../assets/sancristobal.jpg">
      </ul>
    <li><a href= "https://en.wikipedia.org/wiki/San_José_de_Ocoa">San José de Ocoa</a></li>
    <ul> 
        <li>Senator:José Antonio Castillo Casado </li>
        <li>Population:53,833</li>
        <li>Coast of arms: </li>
      <img src="../assets/Escudo_del_Municipio_San_José_de_Ocoa.svg.png">
      </ul>
    <li><a href= "https://en.wikipedia.org/wiki/San_Juan_de_la_Maguana">San Juan</a></li>
    <ul> 
        <li>Senator:Félix Bautista Rosario </li>
        <li>Population:220,264</li>
        <li>Coast of arms: </li>
      <img src="../assets/sanjuan.jpg">
      </ul>
    <li><a href= "https://es.wikipedia.org/wiki/Provincia_de_Bahoruco">Bahoruco</a></li>
    <ul> 
        <li>Senator: Melania Salvador Jimenez </li>
        <li>Population: 114 269</li>
        <li>Coast of arms: </li>
      <img src="../assets/bahoruco.jpg">
      </ul>
    <li><a herf= "https://en.wikipedia.org/wiki/Sánchez_Ram%C3%ADrez_Province">Sánchez Ramírez</a></li>
    <ul>
        <li>Senator:Ricardo De Los Santos </li>
        <li>Population: 151,888</li>
        <li>Coast of arms: </li>
      <img src="../assets/Escudo_de_la_Provincia_Sánchez_Ramírez.png">
      </ul>
    <li><a href= "https://en.wikipedia.org/wiki/Santiago_Province_(Dominican_Republic">Santiago</a></li>
    <ul> 
        <li>Senator:Eduardo Estrella Virella </li>
        <li>Population:1,052,08</li>
        <li>Coast of arms: </li>
      <img src="../assets/Escudo_de_la_Provincia_Santiago.svg.png">
      </ul>
    <li><a href= "https://en.wikipedia.org/wiki/Sánchez_Ram%C3%ADrez_Province">Santiago Rodríguez</a></li>
    <ul> 
        <li>Senator:Casimiro Antonio Marte Familia </li>
        <li>Population:57,209 </li>
        <li>Coast of arms: </li>
      <img src="../assets/Escudo_de_la_Provincia_Santiago_Rodríguez.png">
      </ul>
    <li><a href= "https://en.wikipedia.org/wiki/Valverde_Province">Valverde</a></li>
    <ul> 
        <li>Senator:Martín E. Nolasco Vargas </li>
        <li>Population:177,865</li>
        <li>Coast of arms: </li>
      <img src="../assets/th.jpg">
      </ul>
      
    <li><a href= "https://en.wikipedia.org/wiki/Santo_Domingo_Province">Santo domingo</a></li>
    <ul>
        <li id="down">Senator:  Antonio M. Taveras Guzmán</li>
        <li>Population: 3,389,000</li>
        <li>Coast of arms: </li>
      <img src="../assets/357px-Escudo_del_Municipio_Santo_Domingo_Oeste.svg.png">
      </ul>
  </ol>
  <app-button></app-button>
</body>

